* {
    background-color: beige;
    font-family: Cambria, 'Times New Roman', serif;
}

.home-heading {
    background-color: bisque;
}

.recipes-heading {
    background-color: bisque;
    display: inline-block;
    padding: 12px;
}


